<h1>Greetings, {{name}}</h1>
<form action ="/change-my-name">
    <label for="name">That ain't me, my name is: </label><br>
    <input type="text" id="name" name="name"><br>
    <button>That's a me</button>
</form>